.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.card {
  padding: 2em;
}

.cards-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
